/*----------------------------------
		Theme_# Theme Number
		Cat 	Category
		Name	Name
----------------------------------*/

body {
	color:#000000;
	background-color:#006172;	
}

p {

}

.sf_outer_wrapper {
	background-color:#84cecc;
	background-image:url(images/wrapper_grad_1.gif);
	background-repeat:repeat-x;
}

.sf_extra1 {
}

.sf_wrapper {
	background-color:#FFFFFF;
}

/*--------------------------------
		Top Navigation
---------------------------------*/

.sf_navigation_top {
	
}

.sf_navigation_top ul {
	
}

.sf_navigation_top ul:after {
	
}

.sf_navigation_top ul li {
	
}

.sf_navigation_top ul li.sf_last_nav_item {
	
}

.sf_navigation_top ul li.sf_first_nav_item {

}

.sf_navigation_top ul li a {	
	
}

.sf_navigation_top ul li a:visited {
	
}

.sf_navigation_top ul li a:hover{
	
}

/*--------------------------------
		End Top Navigation
---------------------------------*/

.sf_extra10 {
	background-color:#bda44d;
	background-image:url(images/top_grad_1.gif);
	background-repeat:repeat-x;
}

/*--------------------------------
		Header
---------------------------------*/

.sf_header_wrapper {
	
}

.sf_extra2 {
	
}

.sf_main_header {
	color:#ffffff;	
}

.sf_extra3 {
	background-image:url(images/nav_top_1.gif);
	background-position:top left;
}

.sf_sub_header {
	color:#000000;	
}

.sf_main_header p, .sf_sub_header p {

}

/*--------------------------
		End Header
--------------------------*/

.sf_extra4 {
	
}

/*--------------------------------
		Navigation
---------------------------------*/

.sf_navigation {
	
}

.sf_navigation ul {
	background-image:url(images/nav_bot_1.gif);
	background-repeat:no-repeat;
	background-position:left bottom;
}

.sf_navigation ul:after {

}

.sf_navigation ul li {
	border-top:1px solid #749e18;
	border-bottom:1px solid #ffffff;
	background-color:#3c2000;
}

.sf_navigation ul li.sf_last_nav_item {

}

.sf_navigation ul li.sf_first_nav_item {
	border-top:none;
}

.sf_navigation ul li a {
	color:#FFFFFF;
	border-left:6px solid #749e18;
}

.sf_navigation ul li a:visited {
	color:#FFFFFF;
	border-left:6px solid #749e18;
}

.sf_navigation ul li a:hover{
	color:#FFFFFF;
	border-left:6px solid #ffffff;
}
#Nav1 li ul li a {
	background-color:#506E10;
	border-color:#394F0A;
}
#Nav1 li ul li a:hover {
	background-color:#739F13;
}

/*--------------------------------
		End Navigation
---------------------------------*/

.sf_extra5 {
	
}

/*--------------------------------
		 	Page Title
---------------------------------*/

.sf_pagetitle {
	color:#006172;
}

/*--------------------------------
		 End Page Title
---------------------------------*/

.sf_extra6 {
	
}

/*--------------------------------
		 Sub Navigation
---------------------------------*/

.sf_subnavigation {

}

.sf_subnavigation ul {
	
}

.sf_subnavigation ul:after {
	
}

.sf_subnavigation ul li {
	
}

.sf_subnavigation ul li.sf_last_nav_item {

}

.sf_subnavigation ul li.sf_first_nav_item {

}

.sf_subnavigation ul li a {
	
}

.sf_subnavigation ul li a:visited {
	
}

.sf_subnavigation ul li a:hover {
	
}

/*--------------------------------
		 End Sub Navigation
---------------------------------*/

.sf_extra11 {

}
	
/*--------------------------
		Content
--------------------------*/

.sf_content {
	
}

.sf_content img {
	
}

/*--------------------------
		End Content
--------------------------*/


.sf_extra12 {
	
}


/*--------------------------------
		 Sub Navigation2
---------------------------------*/

.sf_subnavigation2 {

}

.sf_subnavigation2 ul {
	
}

.sf_subnavigation2 ul:after {
	
}

.sf_subnavigation2 ul li {
	
}

.sf_subnavigation2 ul li.sf_last_nav_item {

}

.sf_subnavigation2 ul li.sf_first_nav_item {

}

.sf_subnavigation2 ul li a {
	
}

.sf_subnavigation2 ul li a:visited {
	
}

.sf_subnavigation2 ul li a:hover{
	
}

/*--------------------------------
		 End Sub Navigation2
---------------------------------*/

.sf_extra7 {
	
}

.sf_extra7 span{
	
}

/*--------------------------
		 Footer
--------------------------*/

.sf_footer {
	color:#999999;
}

/*--------------------------
		End Footer
--------------------------*/


.sf_extra8 {
	
}

.sf_extra9 {
	
}


/*--------------------------
		Extra Stuff
--------------------------*/


a:link {
	color:#455F0D;
}

a:visited {
	color:#455F0D;
}

a:hover {
	color:#749e18;
}

.sf_banner {
	color:#ffffff;
	background-color:#77a319;
	background-image:url(images/bot_grad_1.gif);
	background-repeat:repeat-x;
}

.sf_banner img {

}

.sf_banner a {
	color:#ffffff;
}

.sf_banner a:visited {
	color:#ffffff;
}

.sf_banner a:hover {
	color:#ffffff;
}
/** 
 * ------------------------------------------------------------------
 * @section DBNow
 * ------------------------------------------------------------------
 */

.Data_Central_color7 {
	background-color:#68900f;
	color:#fff;
}

.Data_Central_color1 {
	background-color:#749E18;
	color:#fff;
}

.Data_Central_color2 {
	background-color:#d2d2d2;
}

.Data_Central_color3 {
	background-color:#e0e0e0;
}

.Data_Central_color6 {
	background-color:#f0f0f0;
}

.Data_Central_color4 {
	background-color:#ffffff;
}

.Data_Central_color5 {
	border-color:#f0f0f0;
}